.personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    display: flex;
    direction: row;
    gap: 16px;
  }

  &__title {
    color: #87879b;
    min-width: 130px;
  }

  @media (max-width: 425px) {
    gap: 20px;
    &__item {
      flex-direction: column;
      gap: 8px;
    }
  }
}
